* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #071827;
    color: white;
}

/* HERO */
.hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url('images/iletişim.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
}

.hero-content {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* CONTACT INFO */
.contact-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.box {
    background: #0d2235;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-5px);
}

.box h2 {
    margin-bottom: 10px;
    color: #4cc9f0;
}

/* FAQ SECTION */
.faq-container {
    padding: 60px 15%;
}

.faq-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #4cc9f0;
    letter-spacing: 2px;
}

.faq-item {
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: #0d2235;
}

/* QUESTION BUTTON */
.faq-question {
    width: 100%;
    padding: 15px;
    background: #0d2235;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.faq-question:hover {
    background: #12324d;
}

/* ANSWER */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #071827;
    padding: 0 15px;
}

.faq-answer p {
    padding: 15px 0;
}

/* FORM */
.form-container {
    width: 50%;
    margin: 0 auto 80px auto;
    background: #0d2235;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4cc9f0;
}

input, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #1a3a5a;
    border-radius: 10px;
    background: #071827;
    color: white;
    margin-bottom: 15px;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    width: 100%;
    padding: 15px;
    background: #4cc9f0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #071827;
    transition: 0.3s;
}

